parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Apps/MattermostApp.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetBrandImageResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/BrandEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\BrandEndpoint\\:\\:getBrandImage\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetBrandImageResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/BrandEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataFromIdpResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SAMLEndpoint\\:\\:getSamlMetadata\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SAMLEndpoint\\:\\:getSamlMetadataFromIdp\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataFromIdpResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Class class@anonymous/test/SlashCommands/SlashCommandInputTest\\.php\\:24 does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: test/SlashCommands/SlashCommandInputTest.php

		-
			message: "#^Class class@anonymous/test/SlashCommands/SlashCommandTest\\.php\\:21 does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: test/SlashCommands/SlashCommandTest.php

		-
			message: "#^Class class@anonymous/test/SlashCommands/SlashCommandTest\\.php\\:42 does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: test/SlashCommands/SlashCommandTest.php
