parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Apps/MattermostApp.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetBrandImageResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/BrandEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\BrandEndpoint\\:\\:getBrandImage\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetBrandImageResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/BrandEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\SearchAllChannelsResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/ChannelsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\ViewChannelResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/ChannelsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\ChannelsEndpoint\\:\\:searchAllChannels\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\SearchAllChannelsResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/ChannelsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\ChannelsEndpoint\\:\\:viewChannel\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\ViewChannelResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/ChannelsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\RegenCommandTokenResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/CommandsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\CommandsEndpoint\\:\\:regenCommandToken\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\RegenCommandTokenResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/CommandsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetDataRetentionPoliciesCountResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/DataRetentionEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\DataRetentionEndpoint\\:\\:getDataRetentionPoliciesCount\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetDataRetentionPoliciesCountResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/DataRetentionEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetFileLinkResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/FilesEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\UploadFileResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/FilesEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\FilesEndpoint\\:\\:getFileLink\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetFileLinkResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/FilesEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\FilesEndpoint\\:\\:uploadFile\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\UploadFileResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/FilesEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetGroupStatsResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/GroupsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetGroupUsersResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/GroupsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetGroupsAssociatedToChannelsByTeamResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/GroupsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\GroupsEndpoint\\:\\:getGroupStats\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetGroupStatsResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/GroupsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\GroupsEndpoint\\:\\:getGroupUsers\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetGroupUsersResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/GroupsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\GroupsEndpoint\\:\\:getGroupsAssociatedToChannelsByTeam\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetGroupsAssociatedToChannelsByTeamResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/GroupsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetPluginsResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/PluginsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\PluginsEndpoint\\:\\:getPlugins\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetPluginsResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/PluginsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataFromIdpResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\ResetSamlAuthDataToEmailResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SAMLEndpoint\\:\\:getSamlMetadata\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SAMLEndpoint\\:\\:getSamlMetadataFromIdp\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetSamlMetadataFromIdpResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SAMLEndpoint\\:\\:resetSamlAuthDataToEmail\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\ResetSamlAuthDataToEmailResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SAMLEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\PostLogResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SystemEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\UpgradeToEnterpriseStatusResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/SystemEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SystemEndpoint\\:\\:postLog\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\PostLogResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SystemEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\SystemEndpoint\\:\\:upgradeToEnterpriseStatus\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\UpgradeToEnterpriseStatusResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/SystemEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetTeamInviteInfoResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/TeamsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\ImportTeamResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/TeamsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\SearchTeamsResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/TeamsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\TeamsEndpoint\\:\\:getTeamInviteInfo\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetTeamInviteInfoResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/TeamsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\TeamsEndpoint\\:\\:importTeam\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\ImportTeamResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/TeamsEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\TeamsEndpoint\\:\\:searchTeams\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\SearchTeamsResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/TeamsEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\CheckUserMfaResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GenerateMfaSecretResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetUsersByGroupChannelIdsResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Class CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\SwitchAccountTypeResponse not found\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\UsersEndpoint\\:\\:checkUserMfa\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\CheckUserMfaResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\UsersEndpoint\\:\\:generateMfaSecret\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GenerateMfaSecretResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\UsersEndpoint\\:\\:getUsersByGroupChannelIds\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\GetUsersByGroupChannelIdsResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Method CedricZiel\\\\MattermostPhp\\\\Client\\\\Endpoint\\\\UsersEndpoint\\:\\:switchAccountType\\(\\) has invalid return type CedricZiel\\\\MattermostPhp\\\\Client\\\\Model\\\\SwitchAccountTypeResponse\\.$#"
			count: 1
			path: src/Client/Endpoint/UsersEndpoint.php

		-
			message: "#^Class class@anonymous/test/SlashCommands/SlashCommandInputTest\\.php\\:24 does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: test/SlashCommands/SlashCommandInputTest.php

		-
			message: "#^Class class@anonymous/test/SlashCommands/SlashCommandTest\\.php\\:21 does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: test/SlashCommands/SlashCommandTest.php

		-
			message: "#^Class class@anonymous/test/SlashCommands/SlashCommandTest\\.php\\:42 does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: test/SlashCommands/SlashCommandTest.php
